
<!-- put in partials -->

<!-- main image  -->

<%= image_tag "main.jpg", alt: "City View",  class: "img-responsive"  %>



<!-- our services -->
<div class="services">
  <div class="container">
    <h1>Our Services</h1>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="row">
          <div class="col-sm-4 service-offering">
            <%= image_tag "computer.png", alt: "Computer Icon",  class: "img-responsive"  %>
            <h3>Web</h3>
            <p>Here is a bunch of text about our web services</p>
          </div>
          <div class="col-sm-4 service-offering">
            <%= image_tag "phone.png", alt: "Phone Icon",  class: "img-responsive"  %>
            <h3>Mobil</h3>
            <p>Here is a bunch of text about our mobil services</p>
          </div>
          <div class="col-sm-4 service-offering">
            <%= image_tag "person.png", alt: "Person Icon",  class: "img-responsive"  %>
            <h3>Consulting</h3>
            <p>Here is a bunch of text about our consulting services</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- our story -->

<div class="story">
  <div class="container">
    <h1>Our Story</h1>
    <div class="story-quote pull-left">
      <p>We realized that we can provide the most value while communictating directly with the customer.</p>
    </div>
    <div class="story-text">
      <p class="text-justify">
        Lorem ipsum dolor sit amet, ei corpora assentior moderatius mel, mea ad tamquam democritum. Pri ea ipsum numquam, eu detracto petentium mea. Ei sit dico errem. Verear torquatos ut his.
        Case sententiae pri an. Et affert tacimates cotidieque sea, harum nonumy tibique ea mei, alienum periculis deterruisset ut has. Quo ad ipsum tamquam, no duo facete audiam. Dolor appellantur his te. Ad est sonet nominavi. Et minim adipisci pro, ei pro efficiendi eloquentiam.
        Pri nemore singulis in. Eu pro sonet semper, ius ex mandamus patrioque consequat, justo salutandi evertitur at duo. Semper iudicabit interesset at usu. Ea vel elitr adipiscing.
        Vel an argumentum cotidieque, an suas accusata definitionem vix. Sit iudico mnesarchum ut, te quo quis quodsi argumentum, ad his vidit labitur suscipit. Sea vide iriure ut. Summo ubique utamur no his, per te denique conclusionemque, est decore melius no. Te novum melius mei.
        Usu amet eruditi dignissim eu, enim adhuc definiebas nec ex. Ne mel alia temporibus instructior. Ei pro alienum suscipit. Nec constituto interesset te, id congue malorum pri. Libris numquam vim in.
      </p>

    </div>


  </div>
</div>
